<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Verification</title>
</head>
<body style="margin: 0; padding: 0; background-color: #130a30;" bgcolor="#130a30">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#130a30" style="width: 100%; background-color: #130a30;">
        <tr>
            <td align="center">
                <table width="600" cellpadding="0" cellspacing="0" border="0" style="background-color: #160d35; padding: 30px; border-radius: 8px; font-family: 'Barlow', Arial, sans-serif; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                    <tr>
                        <td align="center" style="font-size: 24px; color: #c79d0a; font-weight: bold; text-align: center; margin-bottom: 20px;">
                            <h2 style="margin: 0; color: #c79d0a; font-size: 24px;">Welcome to Imperatus Games</h2>
                        </td>
                    </tr>
                    <tr>
                        <td style="color: white; font-size: 16px; line-height: 1.5; text-align: center;">
                            <p style="margin: 0;">Thank you for signing up with Imperatus Games. Please verify your email address by clicking the button below:</p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 30px 0;">
                            <a href="{{verificationUrl}}" style="display: inline-block; font-family: Cinzel, serif; font-size: 14px; font-weight: 700; text-align: center; border: none; border-radius: 3px; padding: 0.75rem; color: white; background-color: #D4B05F; width: 250px; text-decoration: none;">
                                Verify Your Email
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td style="color: white; font-size: 16px; line-height: 1.5; text-align: center;">
                            <p style="margin: 0;">If you did not sign up for an account, please ignore this email.</p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="font-size: 12px; color: #c79d0a; text-align: center; padding-top: 30px;">
                            <p style="margin: 0;">
                                &copy; 2025 Imperatus Games | All Rights Reserved<br>
                                Email: info@imperatus.com
                                <br><br>
                                <a href="https://www.facebook.com/profile.php?id=61574767299854" style="text-decoration: none;" target="_blank">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="#c79d0a" xmlns="http://www.w3.org/2000/svg" style="vertical-align: middle;">
                                        <path d="M22.675 0h-21.35C.6 0 0 .6 0 1.325v21.351C0 23.4.6 24 1.325 24h11.495v-9.294H9.691v-3.622h3.129V8.413c0-3.1 1.894-4.788 4.659-4.788 1.325 0 2.463.099 2.794.143v3.24h-1.918c-1.505 0-1.796.715-1.796 1.763v2.312h3.587l-.467 3.622h-3.12V24h6.116C23.4 24 24 23.4 24 22.675V1.325C24 .6 23.4 0 22.675 0z"/>
                                    </svg>
                                </a>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
